//Fuentes
$roboto-font: "Roboto", sans-serif;
$primary-font: "Montserrat", sans-serif;
$title-font: "Poppins", sans-serif;

//Colores
$black: #403C39;
$orange: #F38160;
$grey: #949494;

//Sizes container
$max-width-container: 1350px;